<!-- <mm-toggle-button></mm-toggle-button> -->

<div>
    <button (click)="listContainer()">List Containers</button>
</div>

<ng-container *ngIf="container$ | async as container">
    <div>{{container.Id}}</div>
</ng-container>

<div class="container">
    <table class="table table-hover ">
        <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Image ID</th>
                <th>Image Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
        </tbody>
    </table>
</div>